model:
  type: PatchBoxEmbeddings
  config:
    embed_dim: 3
    hidden_dim: 32
    grid_size: [16, 16]

data:
  train:
    type: v0Dataset
    config:
      image_size: [256, 256, 3]
      shapes: ["circle", "square"]
      colors: ["red", "blue"]
      num_samples: 1000
    dataloader_config:
      batch_size: 32
      shuffle: True

trainer: